<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Identifier</key>
	<string>org.kozlek.viperModuleTemplate</string>
	<key>Description</key>
	<string>Swift VIPER module template</string>
	<key>DefaultCompletionName</key>
	<string>ViperModule</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the module that you need to create</string>
			<key>Name</key>
			<string>Module name:</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Name</string>
			<key>Required</key>
			<string>YES</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>The type of the module assembly. Instant assembly type creates and initialize module in its constructor. Managed assembly split module initialization to actual basic construction and separate (delayed) initiation</string>
			<key>Name</key>
			<string>Assembly type:</string>
			<key>Identifier</key>
			<string>assemblyType</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Instant</string>
			<key>Values</key>
			<array>
				<string>Instant</string>
				<string>Managed</string>
			</array>
		</dict>
	</array>
	<key>Template Author</key>
	<string>Natan Zalkin</string>
	<key>Concrete</key>
	<true/>
</dict>
</plist>
