<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___FILEBASENAMEASIDENTIFIER___ModuleProtocol.swift</key>
		<dict>
			<key>Group</key>
			<string>Protocols</string>
			<key>Path</key>
			<string>___FILEBASENAMEASIDENTIFIER___ModuleProtocol.swift</string>
		</dict>
		<key>___FILEBASENAMEASIDENTIFIER___InteractorProtocol.swift</key>
		<dict>
			<key>Group</key>
			<string>Protocols</string>
			<key>Path</key>
			<string>___FILEBASENAMEASIDENTIFIER___InteractorProtocol.swift</string>
		</dict>
		<key>___FILEBASENAMEASIDENTIFIER___PresneterProtocol.swift</key>
		<dict>
			<key>Group</key>
			<string>Protocols</string>
			<key>Path</key>
			<string>___FILEBASENAMEASIDENTIFIER___PresneterProtocol.swift</string>
		</dict>
		<key>___FILEBASENAMEASIDENTIFIER___ViewControllerProtocol.swift</key>
		<dict>
			<key>Group</key>
			<string>Protocols</string>
			<key>Path</key>
			<string>___FILEBASENAMEASIDENTIFIER___ViewControllerProtocol.swift</string>
		</dict>
		<key>___FILEBASENAMEASIDENTIFIER___Module.swift</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>___FILEBASENAMEASIDENTIFIER___Module.swift</string>
		</dict>
		<key>___FILEBASENAMEASIDENTIFIER___Interactor.swift</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>___FILEBASENAMEASIDENTIFIER___Interactor.swift</string>
		</dict>
		<key>___FILEBASENAMEASIDENTIFIER___Presenter.swift</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>___FILEBASENAMEASIDENTIFIER___Presenter.swift</string>
		</dict>
		<key>___FILEBASENAMEASIDENTIFIER___ViewController.swift</key>
		<dict>
			<key>Group</key>
			<string>UI</string>
			<key>Path</key>
			<string>___FILEBASENAMEASIDENTIFIER___ViewController.swift</string>
		</dict>
		<key>___FILEBASENAMEASIDENTIFIER___.storyboard</key>
		<dict>
			<key>Group</key>
			<string>UI</string>
			<key>Path</key>
			<string>___FILEBASENAMEASIDENTIFIER___.storyboard</string>
		</dict>
	</dict>
	<key>DefaultCompletionName</key>
	<string>SwiftViperModule</string>
	<key>Description</key>
	<string>Swift VIPER module template</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAMEASIDENTIFIER___</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Nodes</key>
	<array>
		<string>___FILEBASENAMEASIDENTIFIER___ModuleProtocol.swift</string>
		<string>___FILEBASENAMEASIDENTIFIER___InteractorProtocol.swift</string>
		<string>___FILEBASENAMEASIDENTIFIER___PresneterProtocol.swift</string>
		<string>___FILEBASENAMEASIDENTIFIER___ViewControllerProtocol.swift</string>
		<string>___FILEBASENAMEASIDENTIFIER___Module.swift</string>
		<string>___FILEBASENAMEASIDENTIFIER___Interactor.swift</string>
		<string>___FILEBASENAMEASIDENTIFIER___Presenter.swift</string>
		<string>___FILEBASENAMEASIDENTIFIER___ViewController.swift</string>
		<string>___FILEBASENAMEASIDENTIFIER___.storyboard</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of module that you need to create</string>
			<key>Default</key>
			<string>SomeName</string>
			<key>Identifier</key>
			<string>viperModuleName</string>
			<key>Name</key>
			<string>Module name:</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Named prefix that will be used in func declarations</string>
			<key>Default</key>
			<string>someName</string>
			<key>Identifier</key>
			<string>viperFuncPrefix</string>
			<key>Name</key>
			<string>Funcs prefix:</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_viperModuleName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Template Author</key>
	<string>Natan Zalkin</string>
</dict>
</plist>
